.video {
    width: 100%;
    height: 50%
    object-fit:cover;
}

.image-duke1 {
    width: 20%;
    height: 50%;
    object-fit:cover;
    float: left;
}

.image-duke2 {
    width: 20%;
    height: 50%;
    object-fit:cover;
    float: right;
}